<div class="container">
    <div class="text-input-container">
        <input id="filter-posts" name="filter-posts" class="text-input" type="text" #searchBox
            (input)="filterPosts(searchBox.value)">
    </div>
    <div class="col-md-12 text-center" *ngIf="isLoading">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
    <div *ngIf="searchBox.value">
        <div class="posts">
            <div class="post" *ngFor="let post of filteredPosts">
                <img src="{{post.thumbnail}}" alt="{{post.title}}" />
                <div class="post-content">
                    <a routerLink="/posts/{{post.id}}">
                        <h4>{{post.title}}</h4>
                    </a>
                    <p>{{post.body}}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!searchBox.value">
        <div class="posts">
            <div class="post" *ngFor="let post of currentPosts">
                <img src="{{post.thumbnail}}" alt="{{post.title}}" />
                <div class="post-content">
                    <a routerLink="/posts/{{post.id}}">
                        <h4>{{post.title}}</h4>
                    </a>
                    <p>{{post.body}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center" *ngIf="endCurrentPosts <= currentPosts.length">
            <button (click)="morePosts()">More Posts</button>
        </div>
    </div>
</div>